# Backend configuration
DB_CONNECTION_URL=Host=localhost;Database=decklinq;Username=postgres;Password=postgres
DB_USER=postgres
DB_PASSWORD=postgres
ASPNETCORE_ENVIRONMENT=Development

# Frontend configuration
NEXT_PUBLIC_API_URL=http://localhost:8080
